#filter {
    margin-top: 1em;
}

.filterLabel {
    font-weight: bold;
    font-size: large;
}

.card-header {
    background-color: #2A7299;
    color: white;
}

.card-header label {
    font-size: larger;
    font-weight: bold;
}

.card-header a {
    color: white;
    margin-top: auto;
    margin-bottom: 5px;
}
.card-header a:hover {
    color: #294c72;
}

img {
    max-width: 100%;
    height: auto;
}

.card-body {
    background-color: white;
}

#quote p {
    font-style: oblique;
    font-size: large;
}

#source a {
    color: #3098D1;
}