<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-clipboard="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>quoteSalute Prototype</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/salutesig.css" rel="stylesheet"/>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script> 
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div id="app" class="container">
    <div class="card">
        <h1>quoteSalute - schöner Grüßen</h1>
        <h3>Inspirierende Grußformeln für Ihre Korrespondenz</h3>
    </div>
    <div class="card">
        <div class="card-header" id="mainHeader">
                <button id="refresh" class="btn btn-default" v-on:click="refresh()"><i class="fa fa-redo-alt"></i></button>
                <button id="copy" class="btn btn-default" v-clipboard:copy="copyMessage"><i class="fa fa-copy"></i></button>
        </div>
        <div id="quote" class="card-body">   
            <p>"{{ salute.quote }}"</p></div>
        <div id="source" class="card-footer">
            <a target="_blank" class="show" v-bind:href="salute.fullURL">
                <i class="fa fa-arrow-circle-right"></i> 
                {{salute.edition }}
            </a> <br></br>
            {{ salute.title }}
        </div>
    </div>
    <div class="grid_8" class="container">
        <div id="filter" class="row card">
            <div class="card-header">
                <div>
                    <button class="btn btn-default btn-dark" data-toggle="collapse" href="" aria-expanded="false"
                            aria-controls="" id="filter-btn" v-on:click="refresh()">Filter anwenden</button>
                    <span id="error" class="alert alert-danger" v-if="error">
                        Es wurde leider keine passende Grußformel gefunden. Bitte nutzen Sie eine andere Filterkombination.
                    </span>
                </div>
            </div>
            <div class="card-body" id="">
                <div class="row">
                    <div id="genderSender" class="col">
                        <label class="filterLabel">Sender</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxSender-F" value="s-f" v-model="filter_sender"/>
                            <label class="custom-control-label" for="checkboxSender-F"><i class="fa fa-venus"></i> Female</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxSender-M" value="s-m" v-model="filter_sender"/>
                            <label class="custom-control-label" for="checkboxSender-M"><i class="fa fa-mars"></i> Male</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxSender-N" value="s-n" v-model="filter_sender"/>
                            <label class="custom-control-label" for="checkboxSender-N"><i class="fa fa-genderless"></i> Neutral</label>
                        </div>
                    </div>
                    <div id="genderReceiver" class="col">
                        <label class="filterLabel">Empfänger</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxReceiver-F" value="r-f" v-model="filter_receiver"/>
                            <label class="custom-control-label" for="checkboxReceiver-F"><i class="fa fa-venus"></i> Female</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxReceiver-M" value="r-m" v-model="filter_receiver"/>
                            <label class="custom-control-label" for="checkboxReceiver-M"><i class="fa fa-mars"></i> Male</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxReceiver-N" value="r-n" v-model="filter_receiver"/>
                            <label class="custom-control-label" for="checkboxReceiver-N"><i class="fa fa-genderless"></i> Neutral</label>
                        </div>
                    </div>
                    <div id="formality" class="col">
                        <label class="filterLabel">Form</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxFormal" value="formal" v-model="filter_type"/>
                            <label class="custom-control-label" for="checkboxFormal"><i class="fa fa-handshake"></i> Formal</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxInformal" value="informal" v-model="filter_type"/>
                            <label class="custom-control-label" for="checkboxInformal"><i class="fa fa-heart"></i> Informal</label>
                        </div>
                    </div>
                    <div id="language" class="col">
                        <label class="filterLabel">Sprache</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxDeu" value="deu" v-model="filter_language"/>
                            <label class="custom-control-label" for="checkboxDeu"><i class=""></i> Deutsch</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxEng" value="eng" v-model="filter_language"/>
                            <label class="custom-control-label" for="checkboxEng"><i class=""></i> Englisch</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxSpa" value="spa" v-model="filter_language"/>
                            <label class="custom-control-label" for="checkboxSpa"><i class=""></i> Spanisch</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxIta" value="ita" v-model="filter_language"/>
                            <label class="custom-control-label" for="checkboxIta"><i class=""></i> Italienisch</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxFra" value="fra" v-model="filter_language"/>
                            <label class="custom-control-label" for="checkboxFra"><i class=""></i> Französisch</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_4">
        <div id="description" class="row card">
            <div class="card-header">
                <div>
                    <label>Beschreibungstext</label>
                </div>
            </div>
            <div class="card-body" id="">
                <div class="row"> <a target="_blank" href="https://github.com/telota/salutesig" class="btn"><i class="fa fa-github"></i></a>
                    <a href="mailto:klappenbach@bbaw.de"><i class="fa fa-envelope"></i></a></div>
            </div>
        </div>
    </div>
</div>


<script src="js/salutesig.js"></script>

</body>
</html>