body {
    font-family: ptserif, serif;
}

div img#betabutton {
    left: 210px;
}

button#refresh {
    background-color: #F7931E;
    color: white;
    margin-right: 0.5em;
    font-family: 'PT Sans';
}

.button {
    background-color: #3098D1;
    color: white;
    font-family: 'PT Sans';
    }
    
#filter-refresh {
    margin-right: 0.5em;
    background-color: rgb(233, 232, 232);
    font-family: 'PT Sans';
}
#filter-clear {
    margin-right: 0.5em;
    background-color: rgb(233, 232, 232);
    font-family: 'PT Sans';
}

#filter-headline {
    padding-bottom: 0.5em; 
}

#filter {
    margin-top: 1em;
}

.filterLabel {
    position: relative;
    font-size: large;
}

.custom-control-label {
    position: static;
}

.card-header {
    background-color: #F7F7F7;
    color: black;
}

.card-header label {
    font-size: larger;
    font-weight: bold;
}

.card-header a {
    color: white;
    margin-top: auto;
    margin-bottom: 5px;
}
.card-header a:hover {
    color: #294c72;
}

img {
/*    max-width: 100%;*/
    height: auto;
}

.card-body {
    background-color: white;
}

.card-footer {
    background-color: #F7F7F7;
}

#quote p {
    font-style: oblique;
    font-size: large;
}

#source a {
    color: #3098D1;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: #3098D1;
    border-radius: 0.25em;
}

#project-desc {
    margin-top: 1em;
}
h3.first {
    font-weight: bold;
}

a#licence {
    font: 0.75em sans-serif;
    color: grey;
}

.tippy-popper {
    font-family: "PT Sans";
}

img#award {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px;
}