<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-clipboard="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>quoteSalute Prototype</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://correspsearch.net//resources/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://correspsearch.net//resources/css/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="https://correspsearch.net//resources/css/960.css" media="screen" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/salutesig.css" rel="stylesheet" />
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/fontawesome-all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://correspsearch.net//resources/css/main.css" media="all" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://correspsearch.net//feed/news.rss" />
</head>

<body>    
    <div id="app">
        <div id="navbar" class="outerWrap">
                <div class="innerWrap">
                    <div id="language"><select id="languageSelect">
                        <option value="search.xql?l=en" title="This page in english">English</option>
                        <option selected="selected" title="Diese Seite in deutsch">Deutsch</option></select>
                    </div>
                </div>
            </div>
    <div class="outerWrap contentTop">
        <div class="container_12">
            <div class="grid_12 center">
                <img id="betabutton" src="http://correspsearch.net/resources/images/button_beta2.png" />
                <h1>quoteSalute</h1>
                <h2>{{ $t("general.subtitle") }}</h2>
            </div>
        </div>
    </div>
    <div class="outerWrap contentBottom">
        <!-- CMIF Creator -->
        <!-- vue.js Application -->
        <div class="container_12">
            <div class="grid_8">
                <div class="card">
                    <div class="card-header" id="mainHeader">
                        <button id="refresh" class="btn btn-default" v-on:click="refresh()">
                            <i class="fa fa-redo-alt"></i> {{ $t("general.newGreeting") }}</button>
                        <button id="copy" class="btn button" v-clipboard:copy="copyMessage" v-tippy='{ trigger: "click", arrow: true }' v-bind:title="$t('general.copyTooltip')">
                            <i class="fa fa-copy"></i> quote me!</button>
                    </div>
                    <div id="quote" class="card-body">
                        <p>»{{ salute.quote }}«</p>
                    </div>
                    <div id="source" class="card-body">
                        <a target="_blank" class="show" v-bind:href="salute.fullURL">
                            <i class="fa fa-arrow-circle-right"></i> {{salute.edition }} </a>
                        <br/> {{ salute.title }} <br/><a target="_blank" id="licence" v-bind:href="salute.licenceUrl"> {{salute.licence}}</a>
                    </div>

                    <div id="filter">
                        <div class="card-footer">
                            <div>
                            <h3 id="filter-headline" class="first"> {{ $t("general.filterGreetings") }}
                            </h3>
                            </div>
                            <div class="row">
                                <div id="genderSender" class="col">
                                    <label class="filterLabel">{{ $t("filters.sender") }}</label>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxSender-F" value="s-f" v-model="filter_sender" />
                                        <label class="custom-control-label" for="checkboxSender-F">
                                            <i class="fa fa-venus"></i> {{ $t("filters.female") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxSender-M" value="s-m" v-model="filter_sender" />
                                        <label class="custom-control-label" for="checkboxSender-M">
                                            <i class="fa fa-mars"></i> {{ $t("filters.male") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxSender-N" value="s-n" v-model="filter_sender" />
                                        <label class="custom-control-label" for="checkboxSender-N">
                                            <i class="fa fa-genderless"></i> {{ $t("filters.neutral") }}</label>
                                    </div>
                                </div>
                                <div id="genderReceiver" class="col">
                                    <label class="filterLabel">{{ $t("filters.receiver") }}</label>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxReceiver-F" value="r-f" v-model="filter_receiver" />
                                        <label class="custom-control-label" for="checkboxReceiver-F">
                                            <i class="fa fa-venus"></i> {{ $t("filters.female") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxReceiver-M" value="r-m" v-model="filter_receiver" />
                                        <label class="custom-control-label" for="checkboxReceiver-M">
                                            <i class="fa fa-mars"></i> {{ $t("filters.male") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxReceiver-N" value="r-n" v-model="filter_receiver" />
                                        <label class="custom-control-label" for="checkboxReceiver-N">
                                            <i class="fa fa-genderless"></i> {{ $t("filters.neutral") }}</label>
                                    </div>
                                </div>
                                <div id="formality" class="col">
                                    <label class="filterLabel">{{ $t("filters.form") }}</label>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxFormal" value="formal" v-model="filter_type" />
                                        <label class="custom-control-label" for="checkboxFormal">
                                            <i class="fa fa-handshake"></i> {{ $t("filters.formal") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxInformal" value="informal" v-model="filter_type" />
                                        <label class="custom-control-label" for="checkboxInformal">
                                            <i class="fa fa-heart"></i> {{ $t("filters.informal") }}</label>
                                    </div>
                                </div>
                                <div id="language" class="col">
                                    <label class="filterLabel">{{ $t("filters.language") }}</label>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxDeu" value="deu" v-model="filter_language" />
                                        <label class="custom-control-label" for="checkboxDeu">
                                            <i class=""></i> {{ $t("filters.german") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxEng" value="eng" v-model="filter_language" />
                                        <label class="custom-control-label" for="checkboxEng">
                                            <i class=""></i> {{ $t("filters.english") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxSpa" value="spa" v-model="filter_language" />
                                        <label class="custom-control-label" for="checkboxSpa">
                                            <i class=""></i> {{ $t("filters.spanish") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxIta" value="ita" v-model="filter_language" />
                                        <label class="custom-control-label" for="checkboxIta">
                                            <i class=""></i> {{ $t("filters.italian") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkboxFra" value="fra" v-model="filter_language" />
                                        <label class="custom-control-label" for="checkboxFra">
                                            <i class=""></i> {{ $t("filters.french") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkboxGrc" value="grc" v-model="filter_language" />
                                            <label class="custom-control-label" for="checkboxGrc">
                                                <i class=""></i> {{ $t("filters.greek") }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkboxLat" value="lat" v-model="filter_language" />
                                            <label class="custom-control-label" for="checkboxLat">
                                                <i class=""></i> {{ $t("filters.latin") }}</label>
                                    </div>
                                </div>
                                
                            </div>
                            <div>
                            <button id="filter-refresh" class="btn btn-default" v-on:click="refresh()">
                                <i class="fas fa-check"></i> {{ $t("general.applyFilters") }}</button>
                            <button id="filter-clear" class="btn btn-default" v-on:click="filterClear()">
                                <i class="fas fa-trash-alt"></i> {{ $t("general.resetFilters") }}</button>
                            <!--<button id="filter-clear" class="btn btn-default" v-on:click="filterAll()">
                                     {{ $t("general.allFilters") }}</button>-->
                            </div>
                            <div>
                                    <div id="error" class="alert alert-danger" role="alert" v-if="error"> 
                                        {{ $t("errors.noMatches ")}}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" id="project-desc">
                    <div class="card-body">
                        <h3 class="first">{{ $t("about.title") }}</h3>
                        <p>
                                {{ $t("about.paragraph1") }}
                            <a target="_blank" href="index.xql?id=doc&amp;l=de">{{ $t("about.more") }}</a>
                            </p>
                            <p>{{ $t("about.paragraph2") }}</p>
                            <p>{{ $t("about.questions") }}

                                <a href="mailto:telota@bbaw.de">
                                    <i class="fa fa-envelope"></i> telota@bbaw.de
                                </a>
                            </p>
                    </div>
                </div>

            </div>

            <div xmlns="" id="description" class="grid_4">
                    <div id="information" class="box">
                            <h3 class="first">{{ $t("description.title") }}</h3>
                            <p>{{ $t("description.paragraph") }}</p>
                        </div>
                <div id="participate" class="box orange">
                    <h3 class="first">{{ $t("contribute.title") }}</h3>
                    <p>{{ $t("contribute.paragraph") }}
                        <a href="index.xql?id=doc&amp;l=de">{{ $t("contribute.documentation") }}</a>.
                    </p>
                </div>
                <div id="plugin" class="box">
                    <h3 class="first">{{ $t("plugin.title") }}</h3>
                    <p>{{ $t("plugin.paragraph") }}<br/>
                        <a href="https://github.com/telota/quoteSalute_xpi/releases/download/v0.2.5/quotesalute-0.2.5_build11.xpi" v-tippy v-bind:title="$t('plugin.tooltip')"><i class="fas fa-download"></i> {{ $t("plugin.download") }}</a><br/>
                        <a href="https://github.com/telota/quotesalute_xpi" target="_blank"><i class="fab fa-github"></i> {{ $t("plugin.documentation") }}</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setVisitorCookieTimeout", "604800"]);
    _paq.push(["setSessionCookieTimeout", "0"]);
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
    var u="https://piwik.bbaw.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '13']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><img src="https://piwik.bbaw.de/piwik.php?idsite=13&amp;rec=1" style="border:0" alt="" /></noscript>
<script>
        $(function(){
        // bind change event to select
        $('#languageSelect').on('change', function () {
        var url = $(this).val(); // get selected value
        if (url) { // require a URL
        window.location = url; // redirect
        }
        return false;
        });
        });
    </script>
    <script src="js/salutesig.js"></script>
    
</body>

</html>